@model Wikibird.Models.PageViewModel

@{
    ViewBag.Title = Model.Page.Title ;
}

<div style="float:left;width:600px;">
    <h2> @Model.Page.Title </h2>
    <p>
    @Html.Raw(Model.Page.Content)
    </p>
    <p>@Html.ActionLink("Edit", "Edit")</p>
</div>

<div style="float:right;width:200px;">
    @Html.Partial("PageList", Model.PageNames)
    
    @using (Html.BeginRouteForm("New"))
    {
        @Html.TextBox("newPageName")
        <input type="submit" value="New" class="wymupdate"/>
    }
</div>