@model Wikibird.Models.PageViewModel

@{
    ViewBag.Title = Model.Page.Title ;
}

<div style="float:left;width:600px;">
    <h2> @Model.Page.Title </h2>
    <h3>@Html.RouteLink(Model.Page.Category, "Category", new {category=Model.Page.Category})</h3>
    <p>
    @Html.Raw(Model.Page.Content)
    </p>
    <p>
    @if(Model.Page.Tags.Count > 0) 
    {
        <text>Tags:</text> @string.Join(", ", Model.Page.Tags)
    }
    </p>
    <p>@Html.ActionLink("Edit", "Edit")</p>
</div>

<div style="float:right;width:200px;">
    @Html.Partial("PageList", Model.PageNames)
    
    @using (Html.BeginRouteForm("New"))
    {
        @Html.TextBox("newPageName")
        <input type="submit" value="New" class="wymupdate"/>
    }
</div>